<configuration>
    <!-- Запись логов в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для Game модуля -->
    <appender name="GAME_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/gameLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/gameModule-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для Server модуля -->
    <appender name="SERVER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/serverLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/serverModule-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для Client модуля -->
    <appender name="CLIENT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/clientLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/clientModule-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для Connection модуля -->
    <appender name="CONNECTION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/connectionLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/connectionModule-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Аппендер для Automat модуля -->
    <appender name="AUTOMAT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/automatLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/automatModule-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.deeplay.camp.game" level="debug">
        <appender-ref ref="GAME_FILE" />
    </logger>

    <logger name="io.deeplay.camp.server" level="debug">
        <appender-ref ref="SERVER_FILE" />
    </logger>

    <logger name="io.deeplay.camp.client" level="debug">
        <appender-ref ref="CLIENT_FILE" />
    </logger>

    <logger name="io.deeplay.camp.connection" level="debug">
        <appender-ref ref="CONNECTION_FILE" />
    </logger>

    <logger name="io.deeplay.camp.automat" level="debug">
        <appender-ref ref="AUTOMAT_FILE" />

    </logger>
    <root level="degub">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>